

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #333;
    padding-top: 10px;
    width: 100%;
    
  }
  #div1{
    display: flex;

  }

  #reasearchBarContainer{

    margin : 1px;
    padding-top: 16px;
    

  }




  #reasearchBar {

    padding-left: 200px;
    margin-right: 550px;
    border-radius: 10px;
    height: 25px;
    text-align: left;
   
    

  }
 


  nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    font-size: x-large;
    text-align: center;
    font-style: oblique;
    text-shadow: #333;
  }
  
  nav a:hover {
    background-color: #737373;
  }
  
  #cartLogo{

 width: 30px;
 height: 30px;


  }



  .background-container {
    background: url('images/BB1ie2HH.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width:100%;
    align-items: center;
    padding-top: 100px;
}
  


.books img {
    width: 180px; 
    height: 250px;
}

.container1{
    
    display: flex;
    justify-content: space-between;
    padding-top: 220px;
    margin : 20px;
    
    
}

.container2{
    
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin : 20px;
   
}


.container3{
    
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin : 20px
    
}

.books {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}



